/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-text-color: #ffffff;
  --primary-color: #ffa62b;
  --secondary-color-1: #00a0c1;
  scroll-behavior: smooth;
}
@font-face {
  font-family: Montserrat;
  src: url(../Fonts/Montserrat-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Montserat";
}
.container {
  background: #fafafa;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
header {
  background: #fafafa;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
nav {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#navbar-shrink {
  padding: 20px 0;
}
.LOGO {
  color: var(--text-color);

  /* h3 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}
a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  padding: 11px 0;
  border-radius: 34px;
}

.links {
  text-decoration: none;
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.links:hover {
  color: #000;
}
main {
  padding: 80px 0;
}
.img {
  background: url(../images/cover.png);
  width: 1400px;
  height: 620px;
}
.card {
  padding: 80px 0;
  margin: 24px 197px;
}
.par1 {
  color: var(--text-color, #252b42);

  /* h1 */
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px; /* 137.931% */
  letter-spacing: 0.2px;
}
.par2 {
  color: var(--second-text-color, #737373);
  padding: 35px 0;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
}
.par3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.link2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  background: var(--primary-color, #ffa62b);
}
.href {
  color: var(--light-text-color, #fff);
  text-align: center;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
  background: var(--primary-color, #ffa62b);
}
.href:hover {
  color: #956d34;
}
.link3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  border: 1px solid var(--secondary-color-1, #00a0c1);
}
.ref {
  color: var(--secondary-color-1, #00a0c1);
  text-align: center;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
}
.ref:hover {
  color: #247f92;
}
.pos {
  position: relative;
}
.par4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: absolute;
  top: -100px;
  right: 165px;
}
.con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 328px;
  padding: 35px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 10px;
  background: #fff;
}
.par5 {
  color: var(--text-color, #252b42);

  /* h3 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}
.par6 {
  color: var(--second-text-color, #737373);

  /* paragraph */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.not {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 328px;
  padding: 35px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 10px;
  background: var(--secondary-color-1, #00a0c1);
  -webkit-box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.par7 {
  color: var(--light-text-color, #fff);

  /* h3 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}
.par8 {
  color: var(--light-text-color, #fff);

  /* paragraph */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.abot {
  padding-top: 300px;
  background: #fafafa;
}
.par9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 30px;
  padding: 50px 0;
  background: #fafafa;
}
.par10 {
  color: var(--text-color, #252b42);
  text-align: center;
  /* h2 */
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}
.par11 {
  color: var(--second-text-color, #737373);
  text-align: center;
  /* paragraph */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}

.par12 {
  color: var(--text-color, #252b42);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}
.par13 {
  color: var(--second-text-color, #737373);
  /* h5 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}
.abot3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  padding: 30px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.abot3:hover {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.stop {
  padding-top: 205px;
  background: #fafafa;
}
.par14 {
  padding-top: 45px;
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}
.par15 {
  color: var(--text-color, #252b42);

  /* h2 */
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.par16 {
  color: var(--second-text-color, #737373);
  text-align: center;
  /* paragraph */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.par17 {
  color: var(--text-color, #252b42);

  /* h5 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}
.par18 {
  color: var(--second-text-color, #737373);

  /* paragraph */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.dog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 232px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 15px;
  background: #fff;
  width: 260px;
}
.dog:hover {
  -webkit-box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.25);
}
.stok {
  padding-top: 205px;
  background: #fff;
}
.part4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 100px 0;
}
.hhh {
  position: relative;
}
.video {
  border-radius: 73.6px;
  background: var(--secondary-color-1, #00a0c1);

  padding: 34.8px 36.8px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 172px;
  right: 250px;
}
.par19 {
  color: var(--text-color, #252b42);

  /* h2 */
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}
.par20 {
  color: var(--second-text-color, #737373);

  /* paragraph */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.cadr {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.cat {
  color: var(--text-color, #252b42);

  /* h5 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}
.zet {
  color: var(--second-text-color, #737373);

  /* h6 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.cadra {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.part5 {
  background: #fafafa;
}
.pag1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 86.5px;
  padding: 50px 0px;
}
.pag3 {
  color: var(--light-text-color, #fff);

  /* h3 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
  padding: 30px 50px;
  max-width: 258px;
  width: 100%;
}
.pag2 {
  border-radius: 2px;
  background: var(--secondary-color-2, #16697a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.stom {
  padding-top: 165px;
  background: #f3f3f3;
}
.pag6 {
  background: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
  padding: 80px 0;
}
.chek {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 328px;
  padding: 50px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
}
.pag4 {
  color: var(--text-color, #252b42);

  /* h6 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.pag5 {
  color: var(--text-color, #252b42);

  /* h5 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}
.hp {
  position: relative;
}
.jang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 550px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#email {
  border-radius: 5px;
  background: #f9f9f9;
  width: 450px;
  height: 58px;

  padding-left: 10px;
  border: 1px solid var(--Gray-5, #e0e0e0);
}
.button {
  text-decoration: none;
  color: var(--light-text-color, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
}
.kl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 117px;
  height: 58px;
  padding: 15px 22.5px;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #e6e6e6;
  background: var(--primary-color, #ffa62b);
  position: absolute;
  top: 50px;
  right: 170px;
}

.hah {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-color, #ffa62b);
}
.stak {
  color: var(--primary-color, #ffa62b);
  text-decoration: none;
  /* h6 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.pag7 {
  color: var(--light-text-color, #fff);
  text-align: center;

  /* h6 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.pag8 {
  color: var(--light-text-color, #fff);
  text-align: center;

  /* h5 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}
.stax {
  color: var(--light-text-color, #fff);
  text-align: center;
  text-decoration: none;
  /* h6 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.hag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--light-text-color, #fff);
}
.class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 328px;
  padding: 50px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  background: var(--dark-background-color, #252b42);
}
.abv {
  background: #fafafa;
}
.leam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
#name {
  width: 1050px;
  height: 50px;
  padding-left: 10px;
  border: 1px solid var(--Gray-5, #e0e0e0);
}
#chert {
  width: 1050px;
  height: 130px;
  padding-left: 10px;
  border: 1px solid var(--Gray-5, #e0e0e0);
}
.kept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.hj {
  color: var(--black, #000);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.14px;
}
.keer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1050px;
  height: 50px;
  padding: 12px 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid var(--Gray-5, #e0e0e0);
  margin-left: 180px;
}
.ass {
  color: var(--light-text-color, #fff);
  text-align: center;
  text-decoration: none;
  /* btn-text */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
}
.ass:hover {
  color: #575552;
}
.kall {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 40px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--primary-color, #ffa62b);
  margin-left: 600px;
  margin-top: 59px;
  margin-bottom: 98px;
}
.git {
  color: var(--light-text-color, #fff);

  /* h5 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}
.jigi {
  color: var(--light-text-color, #fff);

  /* link */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.1px;
}
.cardss {
  align-items: baseline;
  background: var(--secondary-color-2, #16697a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 0px 195px 37px 195px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}
.deer {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 148px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 10px;
}
.lll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
.bbn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 195px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background: #fafafa;
}
.lop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1050px;
  padding: 25px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.kkh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.gig {
  color: var(--second-text-color, #737373);

  /* h6 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.llo {
  padding-left: 213px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 236px;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.jign {
  color: var(--light-text-color, #fff);

  /* link */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.1px;
  max-width: 250px;
  width: 100%;
}
.backtop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 15px 1px rgb(62, 61, 61);
  box-shadow: 3px 3px 15px 1px rgb(62, 61, 61);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
}
